In [1]:
import pandas as pd

In [2]:
pd.read_pickle('../results/fluxos_DG_NewYork.pkl')

,data,target
Altamont,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.11492973, 0.13582593, 0.5349479, 0.13680913..."
Lockport,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[3.9062724, 0.9221304, 0.006021963, 0.00446644..."
Head of the Harbor,"[-1.0, -1.0, 51.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.009700914, 0.0041640867, 4.695438, 0.006081..."
Islandia,"[74.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[4.288552, 0.37454727, 0.07146096, 10.75723, 0..."
Lake Grove,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[10.353821, 0.0056388327, 1.3570336, 1.2314105..."
...,...,...
Wyandanch,"[50.0, -1.0, 90.0, -1.0, -1.0, 50.0, -1.0, -1....","[24.495459, 3.0194979, 135.99825, 28.311455, 0..."
Yaphank,"[743.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 70...","[75.51061, 132.61046, 100.26669, 1.4960806, 0...."
Zena,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.33069757, 0.6567362, 0.01391836, 0.64255214..."
University Gardens,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[1.4492936, 7.953685, 0.037901014, 28.458996, ..."
Williamson,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....","[0.038701497, 0.0027523607, 0.003760894, 3.630..."

In [7]:
df=pd.read_pickle('../results/fluxos_DG_Washington.pkl')
test_labels=[]
predictions=[]
for j,k in zip(df.data,df.target):
    for l,m in zip(j,k):
        if l>-0.1:
            if l==0:print(l,m);
            test_labels.append(l)
            predictions.append(m)
        if m<0.:
            print()
print(max(test_labels),max(predictions))
#if log_flows==True:
#    predictions=np.exp(predictions)
print(len(test_labels),len(predictions))

54245.0 23113.328
2057 2057